<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'aindex.html' %}
{% block body %}
<body>
<form id="form1" method="post"  name="form1"  action="adding_timetable" enctype="multipart/form-data">
  <div align="center">
    <table width="200" border="1" id="customers">
      <tr>
        <th scope="row">Semester</th>
        <td>
          <select name="select" class="form-select">
            <option>1st sem</option>
            <option>2nd sem</option>
            <option>3rd sem</option>
            <option>4st sem</option>
            <option>5nd sem</option>
            <option>6rd sem</option>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="row">Timetable</th>
        <td><input type="file" name="file" required/></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><input type="submit" name="Submit" value="Add" class="btn btn-light"/></th>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}
