<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'sindex.html' %}
     {% block body %}
<body>
 <form id="form" name="from" method="post" action="editing_mark">


  </p>
  <div align="center">
    <table width="211" border="1" id="customers">
      <tr>
        <th width="64" scope="col">Student</th>
        <th width="131" scope="col">Mark</th>
      </tr>
      <tr>
        <td>{{val[8]}} {{val[9]}}</td>
        <td><input type="text" name="textfield" value="{{val[4]}}" /></td>
      </tr>
      </table>
  </div>
  <p align="center">
    <input type="submit" name="btn" value="edit" class="btn btn-success"/>
  </p>
   </form>
</body>

{% endblock %}