<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'aindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="add_subject_to_staff#about">
  <div align="center">
    <table width="200" border="1" id="customers">
      <tr>
        <th scope="col">  Staff  </th>
        <th scope="col">Subject</th>
        <th scope="col">Semester</th>
        <th scope="col">&nbsp;</th>
      </tr>
      {% for i in val %}
      <tr>
        <td align="center">{{i[2]}} {{i[3]}}</td>
        <td align="center">{{i[16]}}</td>
        <td align="center">{{i[15]}}</td>
        <td><a href="remove_assigned_staff?id={{i[11]}}" class="btn btn-success">Remove</a></td>
      </tr>
      {% endfor %}
      </table>
    <p>
      <input type="submit" name="Submit" value="Assign" class="btn btn-success"/>
    </p>
  </div>
</form>
</body>
{% endblock %}
