<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'aindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="add_staff#about">
  <div align="center">
    <table width="200" border="1" id="customers">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Dob</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">&nbsp;</th>
      </tr>
{% for i in val %}
      <tr>
        <td>{{i[2]}} {{i[3]}}</td>
        <td>&nbsp;{{i[4]}}</td>
        <td>&nbsp;{{i[5]}}</td>
        <td>&nbsp;{{i[6]}} {{i[7]}}</td>
        <td>&nbsp;{{i[9]}}</td>
        <td>&nbsp;{{i[10]}}</td>
        <td><p><a href="edit_staff?id={{i[1]}}">edit</a></p>
        <p><a href="delete_staff?id={{i[1]}}">delete</a></p></td>
      </tr>
{% endfor %}
      <tr>
        <td colspan="7"><label>
          <center>
            <input type="submit" name="Submit" value="Add" class="btn btn-success"/>
          </center>
	    </label></td>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}
