<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'aindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="add_timetable#about">
  <div align="center">
    <table width="264" border="1" id="customers">
      <tr>
        <th scope="col">Semester</th>
        <th scope="col">Time table </th>
        <th scope="col">&nbsp;</th>
      </tr>
     {% for i in val %}
      <tr>
        <td>{{i[1]}}</td>
        <td><a href="./static/timetable/{{i[2]}}">{{i[2]}}</a></td>
        <td><a href="remove_timetable?id={{i[0]}}">Remove</a></td>
      </tr>
      {% endfor %}
      </table>
  </div>
  <p align="center">
    <input type="submit" name="Submit" value="Add" class="btn btn-success"/>
  </p>
</form>
</body>
{% endblock %}