<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'sindex.html' %}
     {% block body %}
<body>

<form id="form1" name="form1" method="post" action="searchmark#about">
    <table align="center" width="200" border="1" id="customers">
       <tr>
           <th>
        <p align="center">Subject :
        </th>
           <td ><center>
            <select name="select"  class="btn btn-success">
        <option>Select</option>
        {% for i in val %}
      <option value="{{i[0]}}" {% if s== i[0]|string %} selected {% endif %} >{{i[2]}}</option>
         {% endfor %}
      </select></center>
               </td>
           <td></td>
           <td></td>
       </tr>
        <tr>
            <td colspan="4">

  </p><center><input type="submit" class="btn btn-success"/></center>
</td>


        </tr>
      <tr>
        <th scope="col">Student</th>
        <th scope="col">Mark</th>
        <th scope="col">Date</th>
        <th scope="col"></th>

      </tr>
         {% for i in val1 %}
      <tr>
        <td>{{i[2]}}{{i[3]}}</td>
        <td>{{i[16]}}</td>
        <td>{{i[17]}}</td>
          <td><a href="edit_mark/{{i[12]}}#about" class="btn btn-success">edit</a><br><a href="delete_mark?id={{i[12]}}" class="btn btn-success">delete</a></td>
      </tr>
         {% endfor %}
      </table>
</form>
<div align="center"><form action="add_mark_staff#about" method="post"><input type="submit" value="Add mark" class="btn btn-success"/></form></div>
</body>
{% endblock %}
