<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'aindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <p align="center"><a href="#">Add & manage students</a></p>
  <p align="center"><a href="#">View allocated subjects</a>    </p>
  <p align="center"><a href="#">Add & manage attendance</a></p>
  <p align="center"><a href="#">Add & manage works</a></p>
  <p align="center"><a href="#">View work report</a></p>
  <p align="center"><a href="#">Add & manage work</a></p>
  <p align="center"><a href="#">View attendance</a></p>
</form>
</body>
{% endblock %}
